$white: #FFFFFF;
$black: #000000;
$blue: #0056b3;
$blue-light: #169dce;

$green:     #0F7C42;
$mint:      #25C16F;
$purple:    #4B30B5;
$blue-dark: #175D99;

$gray: #668894;

$text-black: #4A4A4A;

$color__background-body: #fafafa;
$color__background-footer: #ffffff;
$color__background-header: #ffffff;

$color__background-pre: #eeeeee;
$color__background-ins: #fff9c0;

$color__text-main: #666666;
$color__text-input: #888888;

$color__header-text: #666666;
$color__header-link: #444444;
$color__header-link-hover: #ff6633;

$color__footer-text: #666666;
$color__footer-link: #444444;
$color__footer-link-hover: #ff6633;
$color__footer-headings: #444444;
    
$color__link: #444444;
$color__link-hover: #ff6633;
$color__headings: #444444;

$color__background-button: #1D5D97;
$color__background-button-hover: #083a66;
$color__text-button: #ffffff;
$color__text-button-hover: #ffffff;
$color__border-button: #1D5D97;
$color__border-button-hover: #083a66;

// Other Colors
$color__blue: #2c9ab7;
$color__green: #54cba0;
$color__gray: rgba(100, 105, 105, 0.1);
$color__light-gray: rgba(150, 155, 155, 0.1);
$color__red: #e85c41;
$color__orange: #e67e22;